
.passenger-page-sidebar .order-page-sidebar {
  background-color: #3E3C41;
  color: #fff;
  /* align-self: flex-start; */
}

.passenger-page-sidebar .order-page-sidebar h2 {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  color: #E5E5E5;
  margin: 0;
  padding: 35px 40px 30px;
  border-bottom: 1px solid #E5E5E5;
  box-sizing: border-box;
}

.time-filter-bottom {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.time-filter-bottom .trip-info {
  display: flex;
  justify-content: space-between;
}

.time-filter-bottom .city-name {
  display: flex;
  flex-direction: column;
}

.time-filter-bottom .city-info {
  margin-top: 22px;
}

.time-filter-bottom .duration-info {
  align-self: center;
  margin-top: 45px;
}

.time-filter-bottom .time-info div {
  display: flex;
  flex-direction: column;
}

.trip-info .datetime-to, .trip-info .railway_to { 
  align-items: flex-end;
}

.trip-info .datetime-from, .trip-info .railway_from {  
  align-items: flex-start;
}

.time-filter-bottom .railway-info {
  margin-top: 17px;
}

.time-filter-bottom .railway-info div {
  display: flex;
  flex-direction: column;
}

.railway-info .railway-station, 
.time-info .datetime-date {
  color: #928F94;
}

.passengers-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #E5E5E5;
  margin-bottom: 15px;
}

.ticket-price {
  display: flex;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

.ticket-price .value-image {
  width: 14px;
  height: 17px;
  margin-left: 7px;
  
}

.ticket-price .value-image img {
  width: 14px;
  height: 17px;
}


.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary span:first-of-type {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #FFF;
}

.summary-value {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #FFA800;

}

.summary .ticket-price {
  align-items: center;
}

.summary .value-image {
  width: 26px;
  height: 32px;
  margin-left: 7px;
}

.summary .value-image img {
  width: 26px;
  height: 32px;
}


/* Информация о пассажирах */

.order-page-passengers-info {
  width: 960px;
  display: flex;
  flex-direction: column;
}

.order-page-passengers-info.order-page-payment-page {
  display: block;
}

.passenger-item {
  width: 100%;
  background-color: #FFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 45px;
}

.passenger-item-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #F9F9F9;
  padding: 32px 26px;
}

.passenger-item-top.open {
  justify-content: space-between;  
}

.passenger-item-top div:first-of-type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.passenger-item-top_title {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #292929;
  margin-left: 16px;

}

.passenger-item-top_btn {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  cursor: pointer;
}

.passenger-item-top_btn.passenger-open {
  background-image: url('./passenger-image/open-passenger-btn.png');
}

.passenger-item-top_btn.passenger-close {
  background-image: url('./passenger-image/close-passenger-btn.png');
}

.delete-passenger-btn {
  background-image: url('./passenger-image/delete-passenger-btn.png');
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  cursor: pointer;
}

.order-page-passengers-btn {
  align-self: flex-end;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 70px;
  background-color: #928F94;
  border: 1px solid #928F94;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}

.order-page-passengers-btn.active {
  background-color: #FFA800;
  border-color: #FFA800;
}

.order-page-passengers-btn.active:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.order-page-passengers-btn.active:focus {
  color: #FFA800;
  background-color: #fff;
}

/* FormPassenger */

.passenger-form-wrapper {
  padding-top: 38px;
  
  background-color: #fff;
  border-top: 1px dashed #928F94;
}

.passenger-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.passenger-form-section {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 45px;
  padding-left: 35px;
  padding-right: 35px;
  
}

.passenger-form-section input, .passenger-form-section select {
  height: 50px;
  font-weight: normal;
  font-size: 24px;
  color: #292929;
  padding: 12px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #928F94;
}

.passenger-form-section select {
  padding: 10px 13px;
}

.passenger-name-section div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 25px;
}

.passenger-name-section div:last-of-type {
  margin-right: 0;
}

.passenger-name-section input {
  width: 280px;
}

.passenger-gender-section div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 25px;
}

.passenger-gender-section .switch {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 50px;
}

.passenger-gender-section .switch input {display:none;}

/* The slider */
.passenger-gender-section .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #928F94;
  border-radius: 5px;
  
}

.passenger-gender-section .slider:before {
  position: absolute;
  content: "";
  height: 48px;
  width: 100px;
  border: 1px solid #928F94;
  border-radius: 5px;
  bottom: -1px;
  background-color: #FFA800;
  -webkit-transition: .4s;
  transition: .4s;
}

.passenger-gender-section input:checked + .slider {
  background-color: #fff;
}

.passenger-gender-section input:focus + .slider {
  background-color: #FFA800;
}

.passenger-gender-section input:checked + .slider:before {
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
  background-color: #FFA800;


}

.passenger-gender-section .gender-button-wrapper {
  flex-direction: row;
  
}

.gender-button-wrapper .gender-btn {
  width: 100px;
  height: 50px;
  border: 1px solid #928F94;
  box-sizing: border-box;
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
  color: #000000;
  background-color: #fff;
  cursor: pointer; 
}

.gender-button-wrapper .gender-btn.selected {
  background-color: #FFA800; 
}

.gender-button-wrapper .gender-btn:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.gender-btn-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.gender-btn-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; 
}

.passenger-invalid-section {
  align-items: center;
}

.passenger-invalid-section input {
  width: 28px;
  height: 28px;
  border: 1px solid #928F94;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 20px;
}

.passenger-document_type-section {
  padding: 37px 0 33px;
  border-top: 1px dashed #928F94;
  border-bottom: 1px dashed #928F94;
  justify-content: flex-start;
  margin-bottom: 0;

}

.passenger-document_type-section div { 
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.passenger-document_type-section input {
  width: 205px;
  
}


.gender-section-datepicker input {
  width: 240px;
  display: block;
  
}

.passenger-form label, .gender-lable {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #928F94;
  margin-bottom: 8px;
}

.passenger-form label.isInvalid {
  font-size: 18px;
  color: #292929;
  margin-bottom: 0;
}

.next-passenger-form-btn {
  width: 100%;
  padding: 31px 30px 31px 25px;
  box-sizing: border-box;
  text-align: right;
  
}

.next-passenger-form-btn.done {
  background-color: #B2F6A1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.next-passenger-form-btn.done .done-icon {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.done-icon img {
  width: 32px;
  height: 32px;
  margin-right: 15px;
}

.next-passenger-form-btn input {
  width: 303px;
  background-color: #fff;
  font-weight: 700;
  font-size: 23px;
  text-align: center;
  color: #292929;
  box-sizing: border-box;
  padding: 12px 23px;
  border: 1px solid #292929;
  border-radius: 5px;
}

.next-passenger-form-btn input:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #FFA800;
}

.next-passenger-form-btn input:active {
  background-color: #FFA800;
  border-color: #FFA800;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  color: #292929;
}




