.order-page-seat-selection {
  width: 960px;
}

.order-page-seat-selection h2 {
  color: #292929;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 48px;
  margin-top: 0;
  text-align: left;
}

.order-page-seat-selection h3 {
  text-align: left;
  margin-left: 20px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #292929;
}

.seat-selection-part {
  background-color: #FFFFFF;
  width: 100%;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding-top: 35px;
  margin-bottom: 30px;
}

.seat-selection-button-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  margin-bottom: 32px;
}

.seat-selection-button-wrapper div {
  width: 76px;
  height: 60px;
  background-color: #FFA800;
  border-radius: 5px;
  margin-right: 10px;
  
}

.seat-selection-button-wrapper div img {
  margin: 20px auto;
}

.seat-selection-button-wrapper button {
  border: 1px solid #292929;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px 34px;
  color: #292929;
  font-size: 24px;
  font-weight: 700;
  font-family: inherit;
  background-color: #fff;
}

.seat-selection-arrival .seat-selection-button-wrapper {
  float: right;
  margin-right: 24px;
}

.seat-selection-ticket-info {
  display: flex;
  flex-direction: row;
  
  text-align: left;
  width: 100%;
}

.train-icon {
  margin-right: 27px;
}

.train-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  
}

.train-name .train-departure-city, .train-name .train-arrival-city {
  margin-left: 0;
}

.train-name .train-number {
  margin-top: 0;
  margin-bottom: 5px;
}

.seat-selection-ticket-count {
  border-bottom: 1px dashed #C4C4C4;
}

.seat-selection-ticket-count h3 {
  margin-top: 40px;
  margin-bottom: 13px;
}

.seat-selection-ticket-info > div {
  display: flex;
  align-items: center;
  background-color: #F7F6F6;
  border-right: 1px solid #fff;
  box-sizing: border-box;
  
}

.seat-selection-ticket-info .train-info { 
  flex-grow: 1;
  padding: 16px 35px; 
  
}

.seat-selection-ticket-info .departure-info { 
  
  flex-grow: 2;
  padding: 28px 35px; 
}

.seat-selection-ticket-info .duration-info {
  flex-grow: 1;
  padding: 47px 35px; 
  border: none;
}

.seat-selection-ticket-info .departure-arrow{
  margin-right: 55px;
  margin-left: 55px;
}

.duration-info .duration-icon {
  margin-right: 10px;
}

.ticket-count-form {
  display: flex;
  margin-bottom: 50px;
}

.count-form {
  height: 192px;
  padding-top: 20px;
  padding-left: auto;
  padding-right: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: #F7F6F6;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.count-form.zero {
  background-color: #fff;
  box-shadow: none;
}

.count-form:hover {
  box-shadow: none;
  border: 1px solid #FFA800;
}

.input-block {
  width: 240px;
  height: 50px;
  border: 1px solid #928F94;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px;
  color: #292929;
  display: block;
  background-color: #fff;
  margin-left: 35px;
}


.input-value {
  border: none;
  outline: none;
  width: 30px;  
}

.input-description {
  width: 241px;
  text-align: left;
  margin: 23px auto 55px;
  color: #928F94;
}

/* Типы вагонов */

.seat-selection-seat-type {
  padding-bottom: 30px;
}

.seat-selection-seat-type h3 {
  margin-top: 27px;
  margin-bottom: 25px;
}

.seat-type-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.seat-type-list li {
  display: flex;
  flex-direction: column;
  
}

.seat-type-item div {
  height: 50px;
  max-width: 50px;
  margin-bottom: 20px;
  align-self: center;
}

/* WagonsInfo */

.seat-selection-wagons-info header {
  background: rgba(255, 168, 0, 0.44);
  padding: 4px 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #292929;
  font-size: 16px;
}

.wagons-sort {
  display: flex;
  align-items: center;
}

.wagons-sort h4 {
  margin: 0 5px 0 0;
  font-weight: 400;

}

.wagons-sort-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.wagons-sort-list li {
 font-weight: 700;
 cursor: pointer;
}

.wagons-sort-list li:not(:last-of-type) {
  margin-right: 5px;
}

.wagons-sort-list li.selected {
  color: #fff;
}

.wagons-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wagons-list-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 75px;
  border-bottom: 1px solid #C4C4C4;
}

.wagons-list-item:not(:first-of-type) {
  margin-top: 33px;
}

.wagon-main-info {
  display: flex;
}

.wagon-info-table {
  padding-top: 33px;
  margin-left: 85px;
  text-align: left;
  width: 100%;
}


.wagon-info-table-titles {
  color: #928F94;
  font-weight: 400;
  font-size: 18px;
  font-family: inherit;
}

.wagon-info-table-titles td:first-of-type {
  width: 202px;
}

.wagon-info-table-titles td:first-of-type span {
  color: #000;
  margin-left: 5px;
}

.wagon-seat-info {
  font-size: 24px;
  font-weight: 400;
  font-family: inherit;
}

.wagon-seat-info span {
  font-weight: 700;
  margin-left: 10px;
}

.wagon-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 60px 30px 30px;
  color: #292929;
  background-color: #FFD98F;
}

.wagon-number .number {
  font-weight: 700;
  font-size: 72px;
  
}

.wagon-number .text {
  font-size: 24px;
}

.wagon-seat-price {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

.wagon-seat-price img {
  margin-left: 10px;
}


.random-peoples-watch {
  width: 199px;
  background-color: #F3F3F3;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 16px 13px 11px 16px;
  margin-right: 42px;
  align-self: flex-end;
  margin-top: 20px;

}

/* Список доп. опций в вагонах */

.features-icons-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  
}

.features-icons-list li {
  width: 36px;
  height: 34px;
  box-sizing: border-box;
  margin-right: 13px;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #292929;
  background-color: #fff;
  border-radius: 5px;
}

.features-icons-list li:hover {
  background-color: #FFA800;
  border: 1px solid #292929;

}

.icon {
  position: relative;
  display: inline-block;
}

.icon.wi-fi {
  background-image: url("./featuresIcon/icon-wifi-black.png");
  
}

.icon.selected {
  background-color: #FDB935;
  border: none;
}

.icon.wi-fi.selected {
  background-image: url("./featuresIcon/icon-wifi-white.png");
  
}

.icon.conditioning {
  background-image: url("./featuresIcon/icon-air_conditioning.png");
}

.icon.conditioning.selected {
  background-image: url("./featuresIcon/icon-air_conditioning-white.png");
}

.icon.linens {
  background-image: url("./featuresIcon/icon-linens.png");
}

.icon.linens.selected {
  background-image: url("./featuresIcon/icon-linens-white.png");
}

/* .icon.питание {
  background-image: url("./featuresIcon/icon-cup-black.png");
}

.icon.питание.selected {
  background-image: url("./featuresIcon/icon-cup-white.png");
} */

.tooltip .tooltiptext {
  width: auto;
  background-color: #E5E5E5;
  color: #292929;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  padding: 5px 10px 8px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(62, 60, 65, 0.25);
  box-sizing: border-box;
  top: 119%;
  position: absolute;
  z-index: 1;
}

.wi-fi .tooltiptext {
  left: 0;
}

.conditioning .tooltiptext {
  left: -130%;
}

.linens .tooltiptext {
  left: -40%;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #E5E5E5 transparent;
}

.next-page-btn {
  font-weight: 700;
  font-size: 24px;
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #FFA800;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 15px 70px;
  float: right;
  margin-top: 90px;
}

.next-page-btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.next-page-btn:active {
  color: #FFA800;
  background-color: #fff;
  border: 1px solid #FFA800;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}



 










