.container-order-page {
	background-color: #E5E5E5;
	padding: 95px 256px 193px 258px;
	display: flex;
	align-items: flex-start;
}

.order-page-sidebar {
	width: 360px;
	margin-right: 86px;
}

.order-page-found-routes {
	width: 959px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.found-routes-header {
	width: 100%;
	color: #928F94;
	font-size: 18px;
	font-weight: 400;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: absolute;
	z-index: 100;
}


.found-routes-header .selected {
	color: #000;
}

.found-routes-count {
	margin-right: 363px;
}

.routes-sort-list, .routes-limit-list, .found-routes-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.routes-sort {
	display: flex;
	justify-content: baseline;
}

.routes-sort button {
	height: 32px;
	box-sizing: border-box;
	padding: 0px 11px 15px 7px;
	font-size: 18px;
	border: none;
	cursor: pointer;
	color: #928F94;
	background-color: #E5E5E5;
}

.routes-sort span {
	margin-right: 10px;
	color: #3E3C41;
}

.routes-sort-list {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	
}

.routes-sort-list li {
	padding: 8px 11px 10px 7px;
	color: #3E3C41;
	background-color: #F7F5F9;
	cursor: pointer;
	text-align: left;

}

.routes-sort-list li:first-of-type {
	padding-top: 0;
}

.routes-sort-list li:not(:last-of-type) {
	border-bottom: 1px solid #E5E5E5;
	
}

.routes-sort-list li:hover {
	color: #fff;
	background-color: #FFCA62;
}

.routes-limit {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.routes-limit-list {
	display: flex;
}

.routes-limit-list li {
	margin-left: 10px;
	cursor: pointer;
}

.routes-limit-list li:hover {
	color: #000;
}


.found-routes-list {
	margin-top: 71px;
	
}

/* Last-Tickets */

.sidebar-last-tickets {
	margin-top: 94px;
}

.sidebar-last-tickets h2 {
	margin: 0;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 500;
	color: #000;
	margin-bottom: 26px;
	cursor: pointer;
}

.sidebar-last-tickets h2:hover {
	color: #FFA800;
}

.last-tickets-list {
	list-style: none;
	padding: 0;
	
}

/* Pagination */

.found-routes-list-pagination {
	margin-top: 142px;
	margin-bottom: 193px;
	display: flex;
	justify-content: flex-end;
	
}

.found-routes-list-pagination a {
	display: block;
	text-decoration: none;
	color: #928F94;
	font-weight: 700;
	font-size: 30px;
	line-height: 35px;
	width: 84px;
	height: 75px;
	box-sizing: border-box;
	border: 2px solid #C4C4C4;
	border-radius: 5px;
	padding: 20px 30px;
	margin-right: 35px;
}

.found-routes-list-pagination a.active {
	background-color: #FFA800;
	color: #fff;
	border-color: #FFA800; 
}

.found-routes-list-pagination a:hover:not(.active) {
	color:  #FFA800;
	border-color: #FFA800; 
}


.found-routes-list-pagination a:first-of-type {
	background-image: url('../mainImage/pagination-back.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 18px 29px;

}

.found-routes-list-pagination a:last-of-type {
	background-image: url('../mainImage/pagination-next.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 18px 29px;
	margin-right: 0;

}


